<section class="text-center px-xl-5 px-4" style="background-color: #1C2833;">
    <div class="row">
        <div class="col px-xl-5 px-4 py-2">
            <div class="row py-lg-2">
                <div class="col text-center">
                    <img src="/Images/LogoNoWords.jpg" style="max-height: 100px;" class="" alt="">
                </div>
            </div>
            <div class="row py-lg-2">
                <div class="col text-white text-center">
                    <h3>Zeta Solutions</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="text-center px-xl-5 px-4" style="">
    <div class="row">
        <div class="col px-xl-5 px-4 py-2">
            <div class="row py-lg-3">
                <div class="col-md-3 pe-md-2 text-md-end">
                    <h3 class="" style="">Who are we?</h3>
                </div>
                <div class="col-sm pb-md-2 text-cent text-md-start">
                    <h6 class="">Zeta Solutions was founded by Zac Fagan and Sam Lindmark, with over 40 years of experience.
                        We want to work with you to solve your problems, not push a product. We are willing to go above 
                        and beyond to ensure the job gets done, no matter what. </h6>
                </div>
            </div>
            <div class="row py-lg-3">
                <div class="col-md-5 pe-md-2 text-md-end">
                    <h3 class="" style="">What do we do?</h3>
                </div>
                
                <div class="col-sm pb-md-2 text-cent text-md-start">
                    <h6 class="">We are dedicated to working along side you to develop specialized
                        solutions for your specific facility. Zeta does not have a one size fits all solution.
                        We work onsite with your team to optimize your treatment, ensuring your plant meets all regulatory
                        requirements and standards. Call us today and experience the difference! </h6>
                </div>
                
            </div>
            
        </div>
        
    </div>
</section>

<section class="text-center px-xl-5 px-4" style="background-color: #1C2833;">
    <div class="row">
        <div class="col px-xl-5 px-4 py-2">
            <div class="row py-lg-4">
                <div class="col-md-3 pe-md-2 text-md-end">
                    <img src="/Images/ZacAboutUs.jpeg" style="max-width: 150px;" class="" alt="">
                </div>
                <div class="col-md-4 pb-md-2 pt-md-3 text-cent text-md-start">
                    <h6 class="text-white">We deliver exceptional customer service and cutting-edge chemical solutions, 
                        our business stands at the forefront of wastewater and water treatment. </h6>
                </div>
            </div>
        </div>
        <div class="row py-lg-3">
            <div class="col-md-4"></div>
            <div class="col-md-4 d-none d-md-block pt-md-3  pe-md-2 text-md-end">
                <h6 class="text-white">We deliver exceptional customer service and cutting-edge chemical solutions, 
                    our business stands at the forefront of wastewater and water treatment. </h6>
            </div>
            <div class="col-sm pb-md-4 text-md-start">
                <img src="/Images/SamAboutUs.jpeg" style="max-width: 150px;" class="" alt="">
            </div>
            
            <div class="col-md d-md-none pe-md-2 text-md-end">
                <h6 class="text-white">We deliver exceptional customer service and cutting-edge chemical solutions, 
                    our business stands at the forefront of wastewater and water treatment. </h6>
            </div>
        </div>
    </div>
</section>


<section class="text-center px-xl-5 px-4">
    <div class="row">
        <div class="col px-xl-5 px-4 py-2 d-flex justify-content-center">
            <div class="card" style="max-width: 500px;">
              <div class="card-body">
                <h4 class="card-title text-center mb-1">Contact Us</h4>
                <h6 class="card-subtitle mb-3 text-center text-muted">We'd love to hear from you! Please fill out the form below to get in touch with us.</h6>
                  <div class="row">
                      <div class="col">
                          <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">First Name</label>
                          </div>
                      </div>
                      <div class="col">
                          <div class="form-floating">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword">Last Name</label>
                          </div>
                      </div>
                  </div>
                  <div class="row mb-3">
                      <div class="col">
                          <div class="form-floating">
                              <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                              <label for="floatingPassword">Email</label>
                          </div>
                      </div>
                  </div>
                  <div class="row mb-3">
                      <div class="col">
                          <div class="form-floating">
                              <textarea class="form-control" placeholder="Leave a comment here" 
                                id="floatingTextarea" style="min-height: 300px;"></textarea>
                            <label for="floatingTextarea">Message</label>
                          </div>
                      </div>
                  </div>
                  
              </div>
            </div>
        </div>
    </div>
</section>

