<section class="text-center px-xl-5 px-4" style="background-color: #1C2833;">
    <div class="row">
        <div class="col px-xl-5 px-4 py-2">
            <div class="row py-lg-3">
                <div class="col-sm-4 py-2">
                    <img class="d-block mx-auto img-fluid" src="/Images/StockPhotos/WasteWaterWidePic.jpg" style="max-height: 200px;border: 1px solid white;" alt="">
                </div>
                <div class="col-sm text-center d-flex align-items-center ">
                    <h4 class="text-white">Your Water, Our Mission - Purity Powered by  <span class="text-white" style="font-size: 36px;"> Zeta Solutions.</span></h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="text-center px-xl-5 px-4">
    <div class="row">
        <div class="col px-xl-5 px-4 py-2">
            <div class="row py-lg-3">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <h4 class=" bi bi-check-lg">Exceptional Service</h4>
                            <p>Our expert service ensures meticulous attention to detail and personalized care, elevating your experience with unmatched quality and convenience.</p>
                        </div>
                        <div class="col">
                            <h4 class=" bi bi-check-lg">Coagulants</h4>
                            <p>ZetaSOL coagulants are specially formulated and selected for your specific plant conditions.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4 class=" bi bi-check-lg">Polymers</h4>
                            <p>ZetaFLOC polymers that have been designed to perform under any condition</p>
                        </div>
                        <div class="col">
                            <h4 class=" bi bi-check-lg">Distribution Systems</h4>
                            <p>Real time testing, analysis, and monitoring of distribution systems, giving you all the insights you need</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 py-2">
                    <img class="d-block mx-auto img-fluid" src="/Images/StockPhotos/PipeOceanWide.jpeg" style="max-height: 300px;max-width: 350px; border: 1px solid #1C2833" alt="">
                </div>
            </div>
        </div>
        
    </div>
</section>

<section class="text-center px-xl-5 px-4" style="background-color: #1C2833;">
    <div class="row">
        <div class="col px-xl-5 px-4 py-2">
            <div class="row py-lg-3">
                <div class="col-sm pe-md-2 text-md-end">
                    <h2 class="text-white" style="text-decoration: underline">What makes us the best in business?</h2>
                </div>
                <div class="col-sm pb-md-2 text-cent text-md-start">
                    <h6 class="text-white">We deliver exceptional customer service and cutting-edge chemical solutions, 
                        our business stands at the forefront of wastewater and water treatment. We pride ourselves on 
                        real-time chemical usage monitoring and providing the highest quality products at the most 
                        competitive prices, facilitating cleaner, safer water for all.</h6>
                </div>
            </div>
        </div>
        
    </div>
</section>

<section class="text-center px-xl-5 px-4">
    <div class="row">
        <div class="col px-xl-5 px-4 py-2 d-flex justify-content-center">
            <div class="card" style="max-width: 500px;">
              <div class="card-body">
                <h4 class="card-title text-center mb-1">Contact Us</h4>
                <h6 class="card-subtitle mb-3 text-center text-muted">We'd love to hear from you! Please fill out the form below to get in touch with us.</h6>
                  <div class="row">
                      <div class="col">
                          <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">First Name</label>
                          </div>
                      </div>
                      <div class="col">
                          <div class="form-floating">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword">Last Name</label>
                          </div>
                      </div>
                  </div>
                  <div class="row mb-3">
                      <div class="col">
                          <div class="form-floating">
                              <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                              <label for="floatingPassword">Email</label>
                          </div>
                      </div>
                  </div>
                  <div class="row mb-3">
                      <div class="col">
                          <div class="form-floating">
                              <textarea class="form-control" placeholder="Leave a comment here" 
                                id="floatingTextarea" style="min-height: 300px;"></textarea>
                            <label for="floatingTextarea">Message</label>
                          </div>
                      </div>
                  </div>
                  
              </div>
            </div>
        </div>
    </div>
</section>

