@model List<DataObjects.CustomerDO>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@foreach (var line in Model)
{
    <div>
        <div style="display:inline-block">CustomerID: </div>
        <div style="display:inline-block">@line.CustomerID</div>
        <div style="width: 25px;"></div>
        <div style="display:inline-block">Name: </div>
        <div style="display:inline-block">@line.Name</div>
    </div>
}
